@model List<ResultBlogWithAuthorDto>




    <div class="sidebar-widget post-widget">
        <div class="widget-title">
            <h4>Son Gönderiler</h4>
        </div>
@foreach (var item in Model)
{
        <div class="post-inner">
            <div class="post">
                <figure class="post-thumb"><a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.BlogId" ><img src="@item.BlogImgUrl" alt=""></a></figure>
                <h5><a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.BlogId">@item.BlogTitle</a></h5>
                <span class="post-date">@item.CreatedDate.ToString("dd M yyyy")</span>
            </div>
            
        </div>
    }
    </div>




